* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    min-height: 100vh;
    background-color: #70CBF2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.input_box {
    margin-top: 20px;
}

.input_box span {
    display: block;
    color: #999;
    padding-bottom: 5px;
}


.input_box input,
.input_box select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: #444;
}

form .flexbox {
    display: flex;
    gap: 15px;
}

.flexbox .input_box {
    flex: 1 1 150px;
}

.submit_btn {
    width: 100%;
    background: linear-gradient(90deg, #70CBF2, #B0E2F8);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
]}

.submit_btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.card_container {
    position: relative;
    margin-bottom: -150px;
    height: 250px;
    width: 400px;
}

.card_container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #70CBF2, #B0E2F8);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 15px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.front .image img {
    width: 120px;
}

.front .card_number_box {
    padding: 15px 0;
    font-size: 22px;
    color: #fff;
}

.front .flexbox {
    display: flex;
}

.front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

/* -------- back -------- */
.card_container .back {
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #70CBF2, #B0E2F8);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.back .stripe {
    background: #000;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.back .box {
    padding: 0 20px;
}

.back .box span {
    color: #fff;
    font-size: 15px;
}

.back .box .cvv_box {
    background: #fff;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    border-radius: 5px;
}

.back .box img {
    width: 60px;
    margin-top: 30px;
}






































